<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TEMPLATE</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-expand-lg bg-light body-container mb-3">
    <div class="container">
      <div class="navbar-brand">
        <p class="m-0">TEMPLATE</p>
      </div>
      <div class="navbar-nav">
        <li id="home" class="nav-link"><a href="/">LINK</a></li>
        <li id="compose" class="nav-link"><a href="">LINK</a></li>
        <li id="about" class="nav-link"><a href="/">LINK</a></li>
        <li id="contact" class="nav-link"><a href="/">LINK</a></li>
      </div>
    </div>
  </nav>

<body>
  <div class="container body-container">
