<%- include('partials/header') %>

  <div class="container-fluid py-5">
    <div class="container d-flex flex-column justify-content-center align-items-center flex-grow-1">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered Some Secrets!</h1>
      <% for(i=0; i < 3 ; i++) {%>
        <p class="secret-text p-5 h-auto w-100">
          "<%=lodash.capitalize(usersSecrets[lodash.random(0,usersSecrets.length)].secret) %>"
        </p>
        <% } %>
          <hr />
          <div class="d-flex w-50 flex-row align-items-center justify-content-between">
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
            <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
          </div>
    </div>
  </div>

  <%- include('partials/footer') %>
